:root {
  --primary-color: #4d5ae5;
}

/* * {
  box-sizing: border-box;
} */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  border-bottom: 1.5px solid #e7e9fc;
}

/* -----------------------------reset stylesheet----------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -----------------------------components----------------------------- */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.secondary-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.secondary-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------------------------Header------------------------------ */

.nav:hover,
.nav:focus {
  color: var(--primary-color);
}

.address-nav:hover,
.address-nav:focus {
  color: var(--primary-color);
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  margin-right: 76px;
}

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address-nav {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* position */
.page-header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu .menu-item+.menu-item {
  margin-left: 40px;
}

/* .menu-item:not(:last-child) {
  margin-right: 40px;
} */

.adress-page {
  display: flex;
  align-items: center;
}

.adress-nav {
  margin-left: auto;
}

.adress-page .adress-item+.adress-item {
  margin-left: 40px;
}

/* .adress-item:not(:last-child) {
  margin-right: 40px;
} */
/* ------------------------------hero------------------------------ */

.hero {
  background-image: linear-gradient(#2e2f42b3, #2e2f42b3),
    url('../images/hero/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.button-hero:hover,
.button-hero:focus {
  background: #404bbf;
}

.button-hero {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--primary-color);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.features-section {
  padding-top: 120px;
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  height: 576px;


  background: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-bg:hover,
.modal-bg:focus {
  opacity: 1;
}

/* ------------------------------features------------------------------ */
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.feature-card {
  max-width: 264px;
}

/* .feature-card:not(:nth-child(4n)) {
  margin-right: 24px;
}

.feature-card:not(:nth-last-child(-n+4)) {
  margin-bottom: 24px; 
} */

.feature-icon-container {
  display: flex;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  justify-content: center;
  align-items: center;
  background: #f4f4fd;
  border-radius: 4px;
}

/* ------------------------------What are we doing------------------------------*/
.we-doing-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

/* ------------------------------our team------------------------------ */
.our-team-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-section {
  background: #f4f4fd;
}

.team-text {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}

.social-list-icon {
  fill: #f4f4fd;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-color: #4d5ae5;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

/* ------------------------------customers------------------------------ */

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-icon {
  justify-content: center;
  align-items: center;
}

.group {
  display: flex;
  fill: #8E8F99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
}

.group:hover,
.group:focus {
  border-color: #404bbf;
  fill: #404bbf;
}

/* ------------------------------footer------------------------------ */
.footer {
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #2e2f42;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  margin-right: 76px;
  padding-bottom: 16px;
  color: #ffffff;
}

.footer-item {
  display: flex;
}

.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 264px;
}

/* footer media */

.footer-media {
  margin-left: 120px;
}

.footer-title {
  color: #ffffff;
}

.media-item {
  gap: 16px;
  margin-top: 16px;
  display: flex;
  align-items: center;
}

/*------------------------------ modal ------------------------------*/

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ebecf0;
  border: 1px solid rgb(0, 0, 0);
  padding: 0;
}

.modal-close-btn-icon {
  height: 8px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: #404bbf;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #404bbf;
}

/* ==============================portfolio============================== */

/* ------------------------------our works------------------------------ */
.btn-works:hover,
.btn-works:focus {
  background: #404bbf;
}

.btn-works {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 116px;
  height: 48px;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-lists {
  margin-top: 96px;
  margin-bottom: 72px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.works-card {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.works-section {
  padding-bottom: 120px;
}

.card-text {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.card-text {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.works-card-link:hover,
.works-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.works-card-link {
  display: block;
}

.works-card-link:hover .overlay,
.works-card-link:focus .overlay {
  transform: translate(0, 0);
  opacity: 1;
}

.list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay::-webkit-scrollbar {
  width: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  top: 0%;
  left: 0%;
  opacity: 0;
  background: #4D5AE5;
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
}

/* ------------------------------works------------------------------ */